<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Julián Sodo - Portfolio</title>
</head>
<body>
    <div id="app" class="container">
        <nav class="navbar navbar-expand-lg alert rounded-0 alert-primary navbar-light mb-0">
            <div class="collapse navbar-collapse" id="navbarPortfolio">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <router-link to="/">Inicio</router-link>
                    </li>
                    <li class="nav-item ml-4">
                            <router-link to="/trabajos">Trabajos</router-link>
                    </li>
                    <li class="nav-item ml-4">
                            <router-link to="/cv">Currículum</router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid p-0">
            <router-view>

            </router-view>
            <div class="container-fluid p-0">
                <div class="card rounded-0 ">
                    <div class="card-header  mb-0">
                        <div class="card-title h2 text-center">
                            Trabajos realizados
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="card col-md-4 p-0" v-for="trabajo of trabajos">
                                <div class="card-header">
                                    <div class="card-title text-center">
                                        <h4>{{trabajo.titulo}}</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text font-weight-bold ">
                                        {{trabajo.subtitulo}}
                                    </div>  
                                </div>
                                <div class="card-footer p-0">
                                    <a :data-target="'#'+trabajo.id"  data-toggle="modal" class="btn btn-primary btn-block rounded-0 text-white">Visualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" :id="trabajo.id" v-for="trabajo of trabajos">
            <div class="modal-dialog" style="max-width: 75%;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">
                            {{trabajo.titulo}}
                        </h5>
                    </div>
                    <div class="modal-body">
                        <p class="font-weight-bold text-center">{{trabajo.subtitulo}}</p>
                        <div class="carousel slide " style="max-height:350px" :id="'carousel'+trabajo.id" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="https://cdn.pixabay.com/photo/2018/03/21/10/01/desktop-3246124__340.jpg" alt="" class="w-100 d-block">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://cdn.pixabay.com/photo/2015/12/31/08/47/background-1115343_960_720.jpg" alt="" class="w-100 d-block">
                                </div>
                            </div>
                            <a :href="'#carousel'+trabajo.id" class="carousel-control-prev" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a :href="'#carousel'+trabajo.id" class="carousel-control-next" role="button" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                        <div class="container">
                            <div class="row mt-2">
                                <div class="card mt-1 col-md-6 p-0">
                                    <div class="card-header alert alert-primary font-weight-bold">
                                            Características
                                    </div>
                                    <div class="card-body pt-0">
                                        <ul>
                                            <li v-for="caracteristica of trabajo.caracteristicas.split(';')">
                                                {{caracteristica}}
                                            </li> 
                                        </ul>       
                                    </div>
                                </div>
                                <div class="card mt-1 col-md-6 p-0">
                                    <div class="card-header alert alert-primary font-weight-bold">
                                        Tareas del usuario
                                    </div>
                                    <div class="card-body pt-0">
                                        <ul>
                                            <li v-for="tarea of trabajo.tareasUsuario">{{tarea}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card mt-1 col-md-6 p-0">
                                    <div class="card-header alert alert-primary font-weight-bold">
                                        Tareas del administrador
                                    </div>
                                    <div class="card-body pt-0">
                                        <ul>
                                            <li v-for="tarea of trabajo.tareasAdministrador">{{tarea}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="index.js"></script>
</html>